app = "tournament-bracket-ws"
primary_region = "nrt"

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

[checks]
  [checks.alive]
    type = "tcp"
    port = 8080
    interval = "15s"
    timeout = "2s"
